/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

body {
  /* border: 1px solid; */
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 600;
}

main {
  max-width: 700px;
  padding: 0 15px;
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

figure {
  margin: 0;
}

input,
button {
  border-radius: 15px;
  padding: 10px 20px;
  outline: none;
  border: 1px solid var(--blue);
}

.email__input {
  flex: 3;
}

input {
  width: 100%;
}

button {
  flex: 1;
}

footer p {
  font-size: 14px;
  color: var(--gray);
}

::-webkit-input-placeholder {
  color: var(--gray);
  opacity: 0.4;
}

::-moz-placeholder {
  color: var(--gray);
  opacity: 0.4;
}

:-ms-input-placeholder {
  color: var(--gray);
  opacity: 0.4;
}

::-ms-input-placeholder {
  color: var(--gray);
  opacity: 0.4;
}

::placeholder {
  color: var(--gray);
  opacity: 0.4;
}

button {
  background-color: var(--blue);
  color: white;
  -webkit-box-shadow: 0 7px 20px var(--pale-blue);
  box-shadow: 0 7px 20px var(--pale-blue);
}

.brand__name {
  width: 60px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.text-grey {
  color: var(--gray);
}

.thin-text {
  font-weight: 300;
}

.img {
  width: 100%;
}

.social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}

.social__icons img {
  border: 0.1px solid var(--gray);
  padding: 7px;
  border-radius: 50%;
}

button:hover {
  opacity: 0.9;
}

input.invalid {
  border: 1px solid var(--light-red);
  color: var(--light-red);
}

.error {
  width: 100%;
  color: var(--light-red);
}

.error.active {
margin: 10px 0;
}

@media only screen and (min-width: 900px) {
  form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: flex-start;
  }
}
